<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="src/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="searchText" v-on:input="searchText = $event.target.value"/>
    <custom-input v-model="searchText"></custom-input>
    <p>{{searchText}}</p>
</div>
<script>
    Vue.component('custom-input', {
        props: ['value'],
        template: `
          <input type="text" v-bind:value="value" v-on:input="$emit('input',$event.target.value)">
        `
    })

    new Vue({
        el: '#app',
        data: {
            searchText: ""
        }
    })
</script>
</body>
</html>
